.home_bgIamge {
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/bgImage.jpg");
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;


}
.home_bgIamge h1{
    font-size: 7vmin;
    font-family: 'Cinzel Decorative', cursive;
    
}